# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Production
build/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Logs
*.log
npm-debug.log*
/var/log/postify/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# PM2
.pm2/

# Test
coverage/
